* {box-sizing:border-box;}

@media all {
    .lightbox { display: none; }
    .fl-page h1,
    .fl-page h3,
    .fl-page h4 {
        font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 100;
        letter-spacing: 1px;
    }
    .fl-page p {
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .fl-page h1 { font-size: 70px; margin-bottom: 0; }
    .fl-page h1 i { font-style: normal; color: #ddd; }
    .fl-page h1 span { font-size: 30px; color: #333;}
    .fl-page h3 { font-size: 2rem; }
    .fl-page h4 { font-size: 2em; }
    .fl-page .jumbotron { margin-top: 2em; }
    .fl-page .btn-download { float: right; margin-top: -40px; }
    .fl-page .btn-default { vertical-align: bottom; }

    .fl-page .row { margin-top: 2em;}

    .fl-page .btn-lg span { font-size: 0.7em; }
    .fl-page .footer { margin-top: 3em; color: #aaa; font-size: 0.9em; padding-bottom:40px;}
    .fl-page .footer a { color: #999; text-decoration: none; margin-right: 0.75em;}
    .fl-page .github { margin: 2em 0; }
    .fl-page .github a { vertical-align: top; }

    /* customized gallery */

    .featherlight-gallery2 {
        background: rgba(100,100,100,0.5);
    }
    .featherlight-gallery2 .featherlight-content {
        background: #000;
    }
    .featherlight-gallery2 .featherlight-next:hover,
    .featherlight-gallery2 .featherlight-previous:hover {
        background: rgba(0,0,0,0.5);
    }
    .featherlight-gallery2 .featherlight-next:hover span,
    .featherlight-gallery2 .featherlight-previous:hover span {
        font-size: 25px;
        line-height: 25px;
        margin-top: -12.5px;
        color: #fff;
    }
    .featherlight-gallery2  .featherlight-close {
        background: transparent;
        color: #fff;
        font-size: 1.2em;
    }
    .featherlight-gallery2.featherlight-last-slide .featherlight-next,
    .featherlight-gallery2.featherlight-first-slide .featherlight-previous {
        display: none;
    }

    /* text slide */
    .thumbnail a { text-decoration: none; }
    .blurb {
        display: inline-block;
        width: 150px;
        height: 150px;
    }
    .blurb h2 { text-align: center;}
    .blurb .detail { display: none;}
    .blurb .teaser {
        font-style: italic;
        text-align: center;
    }
    .featherlight .blurb {
        display: inline-block;
        width: 500px;
        height: 300px;
        color: #99f;
    }
    .featherlight .blurb .detail {
        color: #ddf;
        font-size: large;
        display: inherit;
    }
    .featherlight .blurb .teaser { display: none;}

}
@media(max-width: 768px){
    .fl-page h1 span { display: block; }
    .fl-page .btn-download { float: none; margin-bottom: 1em; }
}

body.fl-page {margin:0; padding:0; background-color:#ccc;}

.flex-container {display:flex; justify-content:center; flex-wrap:wrap; flex-direction: row; gap:2.5%; padding:10px;}

.gallery2 {width:250px; margin:0 0 18px 0;}
img {width:100%;}

.fl-page header {padding-top:40px;}
.fl-page header img {display:block; width:80px; margin:0 auto 20px auto;}

h1, h3 {margin:0; padding:0; text-align:center; }
.fl-page h1 {font-size:50px; line-height:1; margin-bottom:20px; letter-spacing: 0px;}
.fl-page h3 {font-size:30px;  margin-top:20px;}

@media screen and (min-width:850px) {
    .fl-page h1 {font-size:70px; line-height:1; margin-bottom:20px;}
    .fl-page h3 {font-size:40px;  margin-top:20px;}
}

p {text-align:center;}

.gallery2 {margin-bottom:20px;}

nav {background-color:black; padding:0;}

/* LINKS */
nav ul {padding:10px;}
nav li {display:inline; margin:10px; font-family:Helvetica, Arial, sans-serif;}

nav a:link, nav a:visited {color:white; text-decoration:none;}
nav a:hover, nav a:focus, nav a:active {color:#aaa;}
